* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #0000;
}

/* HEADER */
.header {
    padding: 10px;
    background-color: #ddd;
    text-align: center;
}

.header input {
    width: 80%;
    padding: 8px;
}

/* CONTAINER */
.container {
    width: 90%;
    margin: 20px auto;
}

/* PERFIL */
.perfil {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.fotoPerfil {
        width: 180px;
        height: 180px;
        border: 6px solid #ccc;
        border-radius: 30%
}

.storytelling {
    width: 150px;
    height: 100px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 6px solid #ccc;
    border-radius: 10%
}

.status {
    display: flex;
    gap: 10px;
    border: 6px solid #ccc;
    border-radius: 10%
}

.status div {
    width: 150px;
    height: 100px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 6px solid #ccc;
    border-radius: 50%
}

/* CONTEÚDO */
.conteudo {
    display: flex;
    gap: 20px;
}

/* SIDEBAR */
.sidebar {
    width: 25%;
    background-color: #eee;
    padding: 10px;
    border: 6px solid #ccc;
    border-radius: 10%
}

.sidebar .item {
    height: 40px;
    background-color: #ccc;
    margin-bottom: 10px;
}

/* POSTS */
.posts {
    width: 75%;
    
}

.post {
    display: flex;
    background-color: #eee;
    padding: 10px;
    margin-bottom: 15px;
    border: 10px solid #ccc;
    border-radius: 10%
}

.thumb {
    width: 80px;
    height: 80px;
    background-color: #ccc;
    margin-right: 10px;
}

.texto h4 {
    margin-bottom: 5px;
}

.footer {
    text-align: center;
    padding: 10px;
    background: #000000;
    color: #33ff33;
}