body {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    margin: 0;
    background-color: #000000;
}


header {
    background-color: #000000;
    color: #33ff33;
    text-align: center;
    padding: 20px;
    
}


header .fotoPerfil {
        width: 150px;
        border: 6px solid #33ff33;
        border-radius: 20%
       
        
    }


section {
    background-color: #111111;
    color: #33ff33;
    margin: 20px;
    padding: 15px;
    border-radius: 8px;
}

h2 {
    color: #33ff33;
}

ul {
    padding-left: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #000000;
    color: #33ff33;
}